.carousel {
  display: flex;
  gap: var(--space-3);
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  margin: 0px 10px;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  content: "→";
  background-color: #1e1e1e;
  font-family: Consolas;
  font-size: 1.5rem;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: var(--radius);
  border: none;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
}
.carousel::scroll-button(left) {
  content: "←";
  position-area: left center;
}
.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.card {
  scroll-snap-align: start;
}
